.reply {
    align-items: center;
    padding: 15px;
    margin: 16px;
    margin-bottom: 30px;
    color: var(--bgColorr);
    justify-content: space-between;
    border: solid var(--bgColor);
    border-radius: 20px;
    border-width: 2px;
}

.reply > h5 {
    font-size: 22px;
    font-weight: 500;
}

.reply > h3 {
    font-size: 18px;
    padding: 10px;
}

.reply > h7 {
    font-size: 12px;
    font-weight: 500;
}

.topic_content {
    overflow-y:scroll;
    max-height: 76vh;
    scrollbar-width: none;
    
}